<div class="clock-wrapper">
    <h1 id="eu-clock">{{currentClockTime}}</h1>
</div>
<div class="clock-wrapper">
    <h2 id="eu-date">{{currentMonth}} {{currentYear}}</h2>
    
</div>
<div class="clock-wrapper left-clock-wrapper">
    <h2 id="eu-week">WEEK FOUR</h2>
</div>
{{yield}}