<div id="music-player">
    <div id="music-player-title">
            <h4>
            <span click={{action "changeMusicButton"}} id="music-play-button">{{musicButtonCharacter}} &nbsp; &nbsp;</span>
            <span id="music-marquee">DANNY MCCARTHY - PARTICLE BLAST</span>
            <span id="music-blur-bumper">&nbsp; &nbsp; &nbsp;</span>
            </h4>
    </div>
</div>

{{yield}}