@import "nimbus-font-variables.scss";

& {
  width: 34%;
  //background-color: orange;
  @include nimbus-cond-l-bold; //Change to black version
  display: flex;
  flex-flow: row nowrap;
}

.clock-wrapper {
  writing-mode: vertical-lr;
  width: min-content;
  height: 100%;
  display: flex;
  justify-content: center;
}

.left-clock-wrapper {
  justify-content: right;
}

#eu-clock {
  font-size: 20.0em;
  transform: rotate(180deg);
  margin: 0;
}

#eu-date {
  font-size: 6em;
  transform: rotate(180deg);
  margin: 0;
}

#eu-week {
  font-size: 2em;
  transform: rotate(180deg);
  margin: 0;
}
