& {
    height: 8vh;
    background-color: green;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

@keyframes fader {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

.sidebar-unfocused {
    //For testing closing the sidebar
    //background: rgba(136, 112, 83, 0.65);

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50vh; /* Negative half of height. */
    margin-left: -50vw; /* Negative half of width. */
    z-index: 1;
}

#sidebar-pulltab {
    align-self: flex-start;
}

#sidebar-pulltab-triangle {
    fill: rgba(5, 4, 5, 0.74);
    stroke: rgba(0, 0, 0, 0.59);
    stroke-width: 1;
}

.open-sidebar-pulltab {
    margin-left: 250px;
}

.closed-sidebar-pulltab {
    margin-left: 0px;
}

.open-sidebar {
    width: 250px; 
    border-width: 1px;
}

.closed-sidebar {
    width: 0px;
    border-width: 0px;
}

#sidebar-pulltab {
    transition: margin-left .5s;
}