// & {
//     background-color: darkcyan;
//     width: 40vw;
//     height: 100vw;
//     position: fixed;
//     top: 0px;
//     z-index: 2;
// }

.open-sidebar {
    background-color: darkcyan;
    width: 40vw;
    height: 100vw;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.close-sidebar {
    background-color: darkcyan;
    width: 40vw;
    height: 100vw;
    position: fixed;
    top: 0px;
    z-index: 2;
}