@import "sidebar-variables.scss";

& {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $sidebar-fill-color;
    border-color: $sidebar-border-color;
    border-style: solid;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; 
}




