& {
    width: 49.5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#sponsors-wrapper {
    height: 84px;
    width: max-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.sponsors-text {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.vertical-line {
    border-left: 3px solid black;
    height: 80%;
    width: min-content;
}

.logo {
    height: 100%;
}